<h2>{{ projectName }} Project Loaded!</h2>
<br />

<div class="row">

   <div class="col-md-12">
		<div class="col-md-6">
			<form role="search" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" placeholder="Search" class="form-control">
            </div>
			</form>
		</div>
		<div class="col-md-1">
       <a routerLink="/brand" class="btn btn-default">Brand</a>
	   </div>
	   <div class="col-md-1">
	   <a routerLink="/products" class="btn btn-default">Products</a>
	   </div>
	   <div class="col-md-1">
	   <a routerLink="/books" class="btn btn-default">Books</a>
	   </div>
	   <div class="col-md-1">
	   <a routerLink="/dvd" class="btn btn-default">DVD</a>
	   </div>
	   <div class="col-md-1">
	   <a routerLink="/register" class="btn btn-default">Register</a>
	   </div>
	   <div class="col-md-1">
	   <a routerLink="/login" class="btn btn-default">Login</a>
	   </div>
   </div>
   
</div>

